.product-list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    color: blueviolet;
}

table {
    text-align: center;
    color: blueviolet;
    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid blueviolet;
    padding: 10px;
    min-height: 160px;
}

img {
    width: 100px;
    height: 100px;
}